body {
    background-color: azure;
    padding: 10px;
    font-size: 1.5em;
}
header
{
    
    color:rgb(75, 75, 132) ;
}
p{
    text-align: left;
    padding: 10px;
}
li{
    padding: 10px;
}
nav{
    text-decoration: none;
    color: aquamarine;
    
}
nav a{
    text-decoration: none;
}
article{
     padding: 10px;
     /* border: 10px solid red; */
}
.justificar{
    text-align: center;
    
    text-wrap: wrap;
}

.imagen{
    display: block;
    text-align: center;
    padding-top: 10px;
    
}
.iframe
{
    display: block;
    text-align: center;
}