
body {
    text-align: left;
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    }
img{

    width: 500px;
    height: auto;
    border: 2px solid yellowgreen;
    border-radius: 5% 5% 5% 5%;
    /* padding: 5%; */

}
article
{
    text-align: justify;
    text-justify: inter-word;
    line-height: 1.5; /* Ajuste de altura de línea */

    word-spacing: 0.1em; /* Ajuste de espacio entre palabras */
}
.imagen-gato{
    display: block;
    text-align: center;
}
a {
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
    }
    
header h1{
    color: green;
    text-align: center;
}
.iframe{
    display: block;
    text-align: center;
    border-radius: 20%;
}
.iframe h2{
    color: green;
}
.footer{
    font-style: italic;
}